# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process.

pbr!=2.1.0,>=2.0.0 # Apache-2.0
Jinja2>=2.11.2 # BSD-3-Clause
requests>=2.18.0 # Apache-2.0
packaging>=20.4 # Apache-2.0
