<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
</head>
<body>
  <a class="github-fork-ribbon" href="https://github.com/e-minguez/openshift-versions" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <div class="container">
  <h1 class="display-1 text-center">Latest: <a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ latest }}/">{{ latest }}</a></h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Channel</th>
        <th scope="col">Latest</th>
        <th scope="col" colspan="6" class="text-center">Clients</th>
      </tr>
    </thead>
    {% for key, value in versions.items() %}
    <tr>
      <td>{{ key }}</td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/release.txt">{{ value }}</a></td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/openshift-client-linux.tar.gz">oc (x86_64 Linux)</a></td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/openshift-client-mac.tar.gz">oc (OSX)</a></td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/openshift-client-windows.zip">oc (Windows)</a></td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/openshift-install-linux.tar.gz">openshift-install (x86_64 Linux)</a></td>
      <td><a href="https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ value }}/openshift-install-mac.tar.gz">openshift-install (OSX)</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="alert alert-warning" role="alert">
    {{ disclaimer }}
  </div>
</div>
</body>
</html>