---
name: flake8

on:
  pull_request:
  push:
    branches: [master]

jobs:
  flake8:
    strategy:
      matrix:
        python-version: ['3.7', '3.8']
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install tox
        run: python -m pip install --upgrade tox virtualenv setuptools pip
      - name: run tox
        run: tox -epy
      - name: run flake8
        run: tox -epep8
